services:
  app:
    build: ./docker/php
    volumes:
      - ./src:/var/www
    depends_on:
      - db

  web:
    build: ./docker/nginx
    ports:
      - "80:80"
    depends_on:
      - app
    volumes:
      - ./src:/var/www
  db:
    image: mysql:8
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - db-data:/var/lib/mysql

volumes:
  db-data:
